.containerProduct {
  width: 180px;
  overflow: hidden;
  position: relative;
}
.containerImg {
  width: 180px;
  height: 200px;
  border-radius: 10px;
  display: block;
}
.productTitle {
  max-width: 180px;
  text-transform: capitalize;
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease-in-out;
}

.containerProduct:hover .productTitle {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}
.likeProduct {
  position: absolute;
  right: 10px;
  top: 5px;
}
